body {
  background: #0a001e;
  color: #f7f7ff;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hi-pookies,
.say {
  display: inline-block;
}

#h1-hi-pookies {
  font-size: 150px;
  border-right: 6px solid;
  border-color: #0a001e;
  width: 100%;
  color: #0a001e;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 2px;
  animation:
    typing 2s steps(12),
    cursor .4s step-end infinite alternate;
  animation-delay: 5s;
}

#pookiContainer {
  border-left: 6px solid;
  animation:
    blinkLeftBorder .4s step-end 11 alternate;
}

@keyframes blinkLeftBorder {

  0%,
  100% {
    border-left-color: #f7f7ff;
  }

  50% {
    border-left-color: transparent;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0%;
  }
}


#h2-say {
  opacity: 0;
  border-right: 5px solid;
  border-color: #f7f7ff;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 2px;
  width: 100%;
  animation:
    fadeIn 1s ease forwards,
    typing 2s steps(25),
    cursor .4s step-end infinite alternate;
  animation-delay: 9.5s;

}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/*BUTTON...............*/
#firstB {
  height: 50px;
  width: 150px;
  opacity: 0;
  transition: 0.4s ease;
  z-index: 0;
  align-items: center;


  background-color: transparent;
  border-radius: 14px;
  border: 3px solid #C77DFF;
  color: #C77DFF;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 0px 0px #E0AAFF;
  box-shadow: inset 0px 0px 5px 1px #E0AAFF;
}

#firstB:hover {
  background-color: #E0AAFF;
  color: #0a001e;
  box-shadow: 0px 0px 10px 3px #E0AAFF;
  /* Darker green on hover */
}

#firstB:active {
  position: relative;
  top: 1px;
  /* Even darker on click */
}


/*LOG OUTPUT*/
/* #log-output {
    background-color: #f0f0f0;
    color: #111;
    border: 1px dashed #888;
    padding: 1rem;
    font-family: monospace;
    white-space: pre-wrap;
  } */

/*Loading page */
#verify {
  background-color: #f7f7ff09;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#verify-cont {
  background: #F7F7FF;
  background: linear-gradient(38deg, rgba(247, 247, 255, 0.636) 0%, rgba(233, 196, 255, 0.816) 100%);
  height: 250px;
  width: 250px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#verify-text {
  color: #0a001e;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 6px;
  padding-bottom: 20px;
}

.loader {
  margin-top: 35px;
  height: 15px;
  aspect-ratio: 5;
  display: flex;
  justify-content: space-between;
  --_g: no-repeat radial-gradient(farthest-side, #000 95%, #0000);
  background:
    var(--_g) calc(1*100%/3) 0,
    var(--_g) calc(2*100%/3) 0;
  background-size: 20% 100%;
}

.loader:before,
.loader:after {
  content: "";
  height: inherit;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #0a001e;
  animation: l41 1s infinite;
}

.loader:after {
  --s: -1, -1;
}

@keyframes l41 {
  0% {
    transform: scale(var(--s, 1)) translate(0, 0)
  }

  33% {
    transform: scale(var(--s, 1)) translate(0, 130%)
  }

  66% {
    transform: scale(var(--s, 1)) translate(400%, 130%)
  }

  100% {
    transform: scale(var(--s, 1)) translate(400%, 0)
  }
}

.laptop {
  padding-bottom: 20px;
  height: 70px;
  text-align: center;
  width: 100vw;
  background: #F7F7FF;
  background: linear-gradient(38deg, rgba(247, 247, 255, 1) 0%, rgba(233, 196, 255, 1) 100%);
  opacity: 0;
  color: #0a001c;
  margin-top: -150px;
}

#h3-laptop {
  font-size: 30px;
  opacity: 0;
}


/*second Page*********************************/
.main-wrapper {
  background: #0a001e;
  background: linear-gradient(49deg, rgba(16, 0, 43, 1) 0%, rgb(6, 0, 16) 100%);
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  display: none;
}

#message-container {
  scroll-snap-align: start;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  color: #F7F7FF;
}

#message-text {
  transition: 2s ease;
  height: 50px;
  width: 540px;
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: .5px;
  opacity: 0;
}

#encryption {
  background: #00000025;
  border: 5px ridge #62ab65;
  transition: 2s ease;
  opacity: 0;
  border-radius: 10px;
}

#encryption-text {
  color: #62ab65;
  transition: 2s ease;
  opacity: 0;
  margin-top: 20px;
  height: 350px;
  width: 700px;
  text-align: left;
  padding: 20px;
  padding-top: 30px;
  font-weight: 300;
  letter-spacing: 2px;
}

#secondB {
  transition: 0.5s ease;
  border-radius: 10px;
  height: 50px;
  width: 180px;
  margin-top: 20px;
  opacity: 0;
  font-size: 20px;
  color: #62ab65;
  border: 3px solid #62ab65;
  background-color: transparent;
  animation: glow1 0.8s infinite alternate;
}
@keyframes glow1 {
  0% {
    box-shadow: 0px 0px 15px 8px #62ab65;
  }
  100% {
    box-shadow: none;
  }
}

#secondB:hover {
  background-color: #62ab65;
  color: #0a001e;
  box-shadow: 0px 0px 15px 2px #62ab65;
  animation: none;
}

#scroll {
  padding-top: 70px;
  opacity: 0;
}

/*VIDEO***********************/
#video-container {
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  scroll-snap-align: start;
}

#video-head {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 920px;
}

#video-head-one {
  position: absolute;
  width: 200px;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #F7F7FF;
  background-color: transparent;
  border: 2px solid #F7F7FF;
  transition: 0.4s ease;
  z-index: 5;
}

#video-head-one:hover {
  background-color: #F7F7FF;
  color: #0a001e;
  box-shadow: 0px 0px 15px 2px #F7F7FF;
}

#video-head-two {
  z-index: 3;
  opacity: 0;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #F7F7FF;
  background-color: transparent;
  border: 2px solid #F7F7FF;
  transition: 0.4s ease;
  animation: glow 0.8s infinite alternate;
}
@keyframes glow {
  0% {
    box-shadow: 0px 0px 15px 8px #F7F7FF;
  }
  100% {
    box-shadow: none;
  }
}

#video-head-two:hover {
  color: #0a001e;
  background-color: #F7F7FF;
  box-shadow: 0px 0px 15px 2px #F7F7FF;
  animation: none;
}


#video {
  width: fit-content;
  /* shrink-wrap to iframe width */
  padding: 0;
}

#video iframe {
  background-color: #000000;
  /* in case the iframe doesn't fully fill */
  border-radius: 0px 20px 0px 20px;
  display: block;
}

/*Last text********************************/
#cringe-container {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#cringe-text {
  font-size: 20px;
  font-weight: 500;
  opacity: 0;
  transition: 1s ease;
}

#sheri-text {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 500;
  opacity: 0;
  transition: 2s ease;
}

#wave {
  opacity: 0;
  transition: 2s ease;
}


/* Tablet styles */
@media (max-width: 768px) {
  #h1-hi-pookies {
    font-size: 80px;
  }

  #h2-say {
    font-size: 20px;
  }

  #verify-cont {
    height: 150px;
    width: 150px;
  }

  #verify-text {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 5px;
  }
}


/* Mobile phone styles */
@media (max-width: 480px) {
  #h1-hi-pookies {
    font-size: 50px;
  }

  #h2-say {
    font-size: 15px;
  }

  #verify-cont {
    height: 150px;
    width: 150px;
  }

  #verify-text {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 5px;
  }

  #h3-laptop {
    padding-top: 10px;
    font-size: 20px;
  }
}
